# Базы данных
*.sqlite3
*.db
*.dump
db.sqlite3

# Миграции (исключаем все, кроме __init__.py)
*/migrations/*.py
!*/migrations/__init__.py

# Статические файлы (собранные)
staticfiles/
collectstatic/

# Медиафайлы (загружаемые пользователями)
media/

# Файлы окружения
.env
.env.local
.env*.local
.env.prod
.env.dev
.env.test
.secrets
.venv
venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Файлы настроек
local_settings.py
settings/local.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Тестовые данные
coverage.xml
*.cover
.coverage
htmlcov/
.pytest_cache/
test-results/
category_images
avatars
product_images
SECRET_KEY